<h1>Orders#new</h1>

<%# This comes from books#show %>
<h2><%= params[:book_id] %></h2> 

<%= simple_form_for(@order) do |f| %>
  <%= f.input :start_date %>
  <%= f.input :end_date %>
  <%= f.submit %>
<% end %>