<h1>Orders#new</h1>

<%# This comes from books#show %>
<h2><%= params[:book_id] %></h2> 

<%= simple_form_for(@order) do |f| %>
  <%= f.input :start_date %>
  <%= f.input :end_date %>
  <%= f.hidden_field :user_id, value: current_user.id %>
  <%= f.hidden_field :book_id, value: params[:book_id] %>
  <%= f.submit %>
<% end %>
