<%= simple_form_for(book) do |f| %>
  <div class="form-inputs">
    <%= f.input :title %>
    <%= f.input :author %>
    <%= f.input :description %>
    <%= f.input :released_year %>
    <%= f.input :price %>
    <%= f.input :category %>
  </div>

  <div class="form-actions">
    <%= f.button :submit, class: 'btn btn-primary' %>
  </div>
<% end %>
