<div class="container">
  <h3>Lista Libros</h3>

<div class="text-right">
  <%= link_to 'New Book', new_book_path, class: 'btn btn-primary mb-2' %>
</div>
<div class="auto-grid">
  <% @books.each do |book| %>

    <div class="card">
      <%= image_tag "libro.jpg", alt: "foto libro", class: 'card-img-top'  %>
      <div class="card-body">
        <h5 class="card-title"><%= book.title %></h5>
        <p class="card-text"><b>Autor: </b><%= book.author %></p>
        <p class="card-text"><b>Precio: </b><%= book.price %></p>

        <% if policy(book).show? %>
         <%= link_to 'Reservar', book_path(book), class: 'btn btn-primary' %>
        <% end %>
        <% if policy(book).update? %>
          <%= link_to 'Edit', edit_book_path(book) %>
         <% end %>
         <% if policy(book).destroy? %>
        <%= link_to 'Eliminar', book_path(book), method: :delete, data: { confirm: 'Are you sure?' } %>
        <% end %>
      </div>
    <% end %>
  </div>
</div>

<% if policy(Book).create? %>
  <%= link_to 'New Book', new_book_path %>
<% end %>
