
<div class="btn-top">
        <ul>
            <li><%= link_to 'Back', books_path %></li>
            <li><%= link_to 'Next', books_path %></li>
        </ul>
    </div>
    <hr>
    <div class="container-cuerpo">
        <div class="container-sobre">
            <img src="../../../../el_alquimista.jpg" alt="imagen de libro,El Alquimista">
        </div>
        <div class="container-info">
            <h1>EL ALQUIMISTA</h1>
            <h2>Autor: Paulo Coelho</h2>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorum dolorem, maxime sint aut quis perspiciatis impedit architecto blanditiis enim doloribus libero facilis, natus, adipisci id fugiat vitae odio quidem distinctio.</p>
            <div class="btn-botton">
                <ul>
                    <li><%= link_to 'Edit', edit_book_path(@book) %></li>
                    <li><%= link_to 'Reservar' , new_order_path(:book_id => @book, :title => @book.title, :author => @book.author) %></li>
                </ul>
            </div>
        </div>
    </div>
<h2><%= @book.title %></h2>
<p><%= @book.description %></p>
<p><%= @book.price %></p>
<%= link_to 'Edit', edit_book_path(@book) %> |
<%= link_to 'Back', books_path %>
<br>

<%= link_to 'Reservar' , new_order_path(:book_id => @book, :title => @book.title) %>
<div id="map"
     style="width: 100%; height: 600px;"
     data-markers="<%= @markers.to_json %>"
     data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>"></div>
