<div class="container-cuerpo">
  <div class="container-sobre mt-4">
    <%= cl_image_tag @book.photo.key, height: 300, width: 400, crop: :fill, class: 'img-thumbnail'%>
  </div>

  <div class="container-info pt-5 pl-5 pr-4 pb-5 mt-4">
    <h4><%= @book.title %></h4>
    <div class="content-author">
      <p></p>
      <p><b>Autor:</b> <%= @book.author %></p>
    </div>
    <p class="title-resenia">Reseña del libro</p>
    <p><%= @book.description %></p>
    <div class="price-book">
      <span>S/ <%= @book.price %></span>
    </div>
    <div class="">
      <%= link_to 'RESERVAR' , new_order_path(:book_id => @book, :title => @book.title, :author => @book.author), class: 'btn btn-success', style: '' %>
      <% if policy(@book).update? %>
        <%= link_to '📝', edit_book_path(@book) %>
      <% end %>
      <% if policy(@book).destroy? %>
        <%= link_to '🗑️', book_path(@book), method: :delete, data: { confirm: 'Are you sure?' } %>
      <% end %>
    </div>
  </div>
</div>
<div class="container">
  <h3 class="text-center mt-3">Dirección:</h3>
  <div class="row justify-content-md-center">
    <div id="map"
        style="width: 50%; height: 600px;"
        data-markers="<%= @markers.to_json %>"
        data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>">
    </div>
  </div>
</div>
